.side-bar-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar-btn-icon {
  width: 18px;
  height: 18px;
}

.bg-violet {
  background: rgba(202, 84, 168, 1);
  color: white;
}
.bg-violet:hover {
  color: white !important;
}
.bg-brown {
  background: rgba(153, 152, 104, 1);
  color: white;
}
.bg-brown:hover {
  color: white !important;
}