body {
  height: 100vh;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.bg-blue {
  background-color: #1D6598;
  color: white;
}
.bg-blue:hover {
  color: white !important;
}
.bg-violet {
  background: rgba(202, 84, 168, 1);
  color: white;
}
.bg-violet:hover {
  color: white !important;
}
.bg-brown {
  background: rgba(153, 152, 104, 1);
  color: white;
}
.bg-brown:hover {
  color: white !important;
}
.side-bar-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar-btn-icon {
  width: 18px;
  height: 18px;
}
/* All select tags with class status */
.status {
  min-width: 110px;
}
.status[value="Draft"] {
  background-color: #6c757d; /* Secondary */
}
.status[value="Sent"] {
  background-color: #1D6598; /* Primary */
}
.status[value="Accepted"] {
  background-color: #00A35D; /* Success */
}
.status[value="Declined"] {
  @apply
    bg-violet
}
.status[value="Aged"] {
  @apply
    bg-brown
}