.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/Login-bg.png');
  background-repeat: no-repeat;
  background-position: 25% 40%;
  border: 0px;
  margin: 0px;
  display: flex;
}
.login-form {
  border-radius: 24px;
  background-color: white;
  padding: 20px 3% 5px 3%;
  min-height: 490px;
  display: flex;
  flex-direction: column;
}

.page-layout { /* Layout for regular pages except login and reset password */
  height: 100vh;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.bg-blue {
  background-color: #1D6598;
  color: white;
}
.bg-blue:hover {
  color: white !important;
}
.bg-violet {
  background: rgba(202, 84, 168, 1);
  color: white;
}
.bg-violet:hover {
  color: white !important;
}
.bg-brown {
  background: rgba(153, 152, 104, 1);
  color: white;
}
.bg-brown:hover {
  color: white !important;
}

/* flex or grid gap utitlites */
.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

/* All select tags with class status */
.status {
  min-width: 110px;
}
.status[value="Draft"] {
  background-color: #6c757d !important; /* Secondary */
}
.status[value="Sent"] {
  background-color: #1D6598 !important; /* Primary */
}
.status[value="Accepted"] {
  background-color: #00A35D !important; /* Success */
}
.status[value="Declined"] {
  @apply
    bg-violet !important
}
.status[value="Aged"] {
  @apply
    bg-brown !important
}

/* Custom styles for different media queries */
@media screen and (min-width: 0px) { /* For small screens */
  .login-form {
    min-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }        
}
@media screen and (min-width: 748px) { /* For medium screens */ 
  .login-form {
    min-width: 430px;
    margin-right: 5%;
  }
}